@import "../../styles/variables";

.main{
  @media(max-width: $tabletPoint) {
    padding: 0 16px;
  }
}

.section {
  display: flex;
  width: 100%;
  margin: 0 auto;
  &__textblock {
    max-width: 926px;
    height: 139px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 41px;
    @media(max-width: $mobilePoint) {
      flex-direction: column;
      height: 100%;
    }
  }
  &__cards {
    max-width: 937px;
    margin-top: 90px;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 26px;
    height: 467px;
    padding: 40px 45px;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 69px;
    @media(max-width: $mobilePoint) {
      flex-direction: column;
      height: 100%;
      padding: 32px 8px 8px 8px;
      margin-top: 32px;
    }
  }
}

.title {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  color: $black;
}

.text {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $gray;
  max-width: 524px;
}

.buttons {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  height: 44px;
  @media(max-width: $mobilePoint) {
    margin: 37px auto 0 auto;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: $mobilePoint) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
}

.button {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.833333px;
  color: #3b3472;
  border-radius: 22px;
  border: none;
  padding: 13px 24px;
  background: rgba(255, 255, 255, 0.5);
  transition: color 0.2s linear, background-color 0.2s linear;
  &:hover {
    cursor: pointer;
  }
  &_active {
    transition: color 0.2s linear, background-color 0.2s linear;
    background-color: $purple;
    color: #fff;
  }
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  @media(max-width: $mobilePoint) {
    width: 100%;
    max-width: 232px;
    margin: 48px auto 0 auto;
    &:first-of-type{
      margin-top: 0;
    }
  }
  &__block{
    margin-bottom: 38px;
  }
  &__title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: $black;
    margin-top: 20px;
  }
  &__text {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $gray;
    width: 90%;
    margin-top: 6px;
    @media(max-width: $mobilePoint) {
      width: 100%;
    }
  }
  &__cost {
    max-height: 69px;
    overflow: hidden;
    position: relative;
    &_first {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: $black;
      transform: translate(0px);
      transition: transform 0.4s linear, opacity 0.1s linear;
      opacity: 1;
    }
    &_second {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      color: $gray;
    }
    &_month {
      transform: translate(0, 45px);
      transition: transform 0.4s linear, opacity 0.4s linear;
      position: absolute;
      left: 0;
      opacity: 0;
      
    }
    &_year {
      transform: translateY(-45px);
      transition: transform 0.4s linear, opacity 0.4s linear;
      position: absolute;
      opacity: 0;
      left: 0;
    }
  }
  &__list {
    margin-top: 14px;
    li {
      &::marker {
        content: "";
      }
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(82, 67, 194, 0.15);
        margin-right: 10px;
        background-image: url("../../../public/icn_check_mark.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $gray;
      margin-top: 8px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  &__popular {
    background: #231d4f;
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
    border-radius: 26px;
    padding: 20px 30px;
    height: 473px;
    position: relative;
    top: -66px;
    box-sizing: border-box;
    width: 292px;
    @media(max-width: $mobilePoint) {
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 292px;
    }
    &__sticker {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.6px;
      color: $purple;
      background: #403879;
      border-radius: 13.5px;
      padding: 7px 17px 5px 16px;
      width: 121px;
      height: 27px;
      margin-left: auto;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
    .card__cost {
      &_first {
        color: #fff;
      }
      &_second {
        color: #fff;
      }
    }
    .card__title {
      color: #fff;
    }
    .card__text {
      color: #fff;
    }
    .card__list__item {
      color: #fff;
    }
    .card__list {
      li {
        &::before {
          background: hsla(0, 0%, 100%, 0.1);
          mix-blend-mode: normal;
          background-image: url("../../../public/icn_check_mark_popular.svg");
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
      }
    }
  }
}
